<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @list.photo.key, height: 300, crop: :fill %>');">
  <div class="container">
    <h1><strong><%= @list.name.capitalize %></strong></h1>
  </div>
</div>

<div class="cards-container">
  <div class = "cards">
      <% @list.bookmarks.each do |bookmark| %>
        <div>
          <%= image_tag bookmark.movie.poster_url, alt: bookmark.movie.title, height: 120%>
          <div class ="p-3 shadow-sm bg-light">
            <h3><%= bookmark.movie.title %></h3>
            <p><%= bookmark.movie.overview %></p>
              <h6>
                <i class="fa-solid fa-quote-left"></i>
                <%= bookmark.comment %>
                <i class="fa-solid fa-quote-right"></i>
              </h6>
            <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>

          </div>
        </div>
      <% end %>
  </div>
</div>
<div>
  <%= link_to "Add a movie", new_list_bookmark_path(@list)%>

  <p><%= link_to "Back to lists", lists_path%></p>
</div>
