<h1>Add amovie</h1>

<%= simple_form_for [@list, @bookmark] do |f|%>
  <%= f.input :comment %>
  <%= f.association :movie,    as: :select %>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
<% end %>
